main.container .new-tweet form{
  display: flex;
  flex-direction: column;
}

.new-tweet form label{
  font-weight: 600;
}

.tweet-text{
  border: none;
  overflow: auto;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  resize: none;
  background-color: transparent;
  border-bottom: 5px solid black;
  line-height: 1;
  margin-top: .5em;
}

.new-tweet form > div{
  display: flex;
  justify-content: space-between;
  font-family: "Bungee",sans-serif;
  margin-top: .7em;
}

.new-tweet form > div button{
  border: none;
  padding: 0 .5rem;
  text-decoration: none;
  background: #4056A1;
  color: #ffffff;
  cursor: pointer;
  transition: background 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.new-tweet form > div button:hover,
.new-tweet form > div button:focus {
    background: #0053ba;
}

.new-tweet form > div button:active {
  border: 1px solid #fff;
  /* outline: 3px solid rgba(0, 118, 221, 0.883); */
  box-shadow: 0 0 5px 2px rgba(36, 80, 226, 0.931);
}

.new-tweet form > div button:active {
    transform: scale(0.99);
}

.counter.negative{
  color: red;
}
